/* Styling untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    min-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

table th, table td {
    padding: 12px 15px;
    text-align: center;
}

table th {
    background-color: #4CAF50; /* Warna background header tabel */
    color: #ffffff;
    font-weight: bold;
}

table tr {
    border-bottom: 1px solid #dddddd;
}

table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tr:last-of-type {
    border-bottom: 2px solid #4CAF50;
}

/* Efek hover untuk baris tabel */
table tr:hover {
    background-color: #e9f5e9;
    cursor: pointer;
}

/* Styling untuk tombol */
.btn-tambah {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-tambah:hover {
    background-color: #45a049;
}

.btn-success {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545; /* Warna merah */
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-danger:hover {
    background-color: #c82333; /* Warna merah lebih gelap saat dihover */
}
